In [45]:
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
import seaborn as sns

titanic = sns.load_dataset('titanic')
X, y = titanic.drop(columns='alive'), titanic.alive

titanic.alive = titanic.alive.map({'yes':1,'no':0})

In [46]:
titanic.sample(7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
444,1,3,male,NaN,0,0,8.1125,S,Third,man,True,NaN,Southampton,1,True
449,1,1,male,52.0,0,0,30.5000,S,First,man,True,C,Southampton,1,True
740,1,1,male,NaN,0,0,30.0000,S,First,man,True,D,Southampton,1,True
363,0,3,male,35.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,0,True
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,1,False
72,0,2,male,21.0,0,0,73.5000,S,Second,man,True,NaN,Southampton,0,True
472,1,2,female,33.0,1,2,27.7500,S,Second,woman,False,NaN,Southampton,1,False

In [47]:
titanic = titanic.drop(columns=['alive','who','adult_male','embark_town'])
titanic.sex = titanic.sex.map({'male':1,'female':0})
titanic.alone = titanic.alone.map({'True':1,'False':0})

In [48]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,alone
0,0,3,1,22.0,1,0,7.2500,S,Third,NaN,NaN
1,1,1,0,38.0,1,0,71.2833,C,First,C,NaN
2,1,3,0,26.0,0,0,7.9250,S,Third,NaN,NaN
3,1,1,0,35.0,1,0,53.1000,S,First,C,NaN
4,0,3,1,35.0,0,0,8.0500,S,Third,NaN,NaN

In [49]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'deck', 'alone'],
      dtype='object')

In [50]:

cat_col = ['embarked','class','deck']
num_col = ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'alone']

In [51]:
from sklearn.preprocessing import OneHotEncoder

OneHotEncoder.fit_transform(titanic[cat_col])

TypeError: OneHotEncoder.fit_transform() missing 1 required positional argument: 'X'

In [ ]:
titanic.head()

In [ ]:
titanic.shape()

In [ ]:
titanic.dropna()
titanic.drop_duplicates()

In [ ]:
titanic.shape()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10)
titanic_rfc= rfc.fit(X_train,y_train)

C:\Users\srika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\srika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\srika\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

ValueError: could not convert string to float: 'male'